.welcome-page {
    background: url('https://wallpaperaccess.com/full/1355318.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: saturate(120%);
}

.welcome-page h1 {
    margin-bottom: 50px;
}